@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 40 33% 97%;
    --foreground: 43 22% 20%;
    --card: 40 33% 97%;
    --card-foreground: 43 22% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 48 18% 13%;
    --primary: 15 60% 52%;
    --primary-foreground: 0 0% 100%;
    --secondary: 42 20% 90%;
    --secondary-foreground: 40 6% 31%;
    --muted: 43 25% 91%;
    --muted-foreground: 40 2% 50%;
    --accent: 42 20% 90%;
    --accent-foreground: 48 18% 13%;
    --destructive: 40 5% 8%;
    --destructive-foreground: 0 0% 100%;
    --border: 43 8% 84%;
    --input: 44 6% 68%;
    --ring: 15 60% 52%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 50 4% 15%;
    --foreground: 40 10% 76%;
    --card: 50 4% 15%;
    --card-foreground: 40 33% 97%;
    --popover: 50 6% 19%;
    --popover-foreground: 40 4% 90%;
    --primary: 15 61% 59%;
    --primary-foreground: 0 0% 100%;
    --secondary: 40 33% 97%;
    --secondary-foreground: 50 6% 19%;
    --muted: 40 6% 11%;
    --muted-foreground: 40 6% 70%;
    --accent: 41 18% 10%;
    --accent-foreground: 43 24% 95%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    --border: 50 5% 24%;
    --input: 48 6% 32%;
    --ring: 15 61% 59%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
